<!DOCTYPE html>
<html lang="en">

<head>
    <title>What Is My Weather?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

    <!--Basic Layout-->
    <h1>
        <img src="images/sun.svg" alt="cloud" width="50px" height="50px">
        <strong>Weather</strong>
        <img src="images/sun-cloud.svg" alt="cloud" width="50px" height="50px" />
        <br/>
    </h1>
    <div class="container">
        <div class="tabs is-centered">
            <ul>
                <li onclick="getCurrentForecast()"><a>Current Forecast</a></li>
                <li onclick="getWeeklyForecast()"><a>Weekly Forecast</a></li>
            </ul>
        </div>
        <div id="weather"></div>
        <div id="map"></div>
        <section id="footer">
            Created by @awaisabir<br/> Powered by the <a href="https://darksky.net" target="_blank">DarkSky API</a>
        </section>
    </div>

    <!--Scripts-->
    <script type="text/javascript" src="javascripts/skycons.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTVKsHAOtyNQBcqV0B_meI6yvj7arjz1k&callback=initMap"></script>
</body>

</html>